Package: azimuth-html5-player
Priority: optional
Provides: azimuth-player
Enhances: azimuth-web-common
Maintainer: Al Korgun <korgun@tbdd.ru>
Architecture: all
Section: azimuth
Description: azimuth imgf and imgx player
